.logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
}
